button
{
    border: none;
    background-color: unset;
    font-size: inherit;
}
@media screen and (max-width: 600px){
    .div_du_bon
    {
        background-color: #20c96f1c;
        max-height: min-content;
        font-size: 14px;
        padding-left: 7px;
        display: flex;
        flex-direction: column;
    }
    .div_du_bon > p
    {
        padding: 5px 0px 8px 0px
    }
    .div_du_bon div
    {
        overflow: visible;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }
    .bloc_nombre_de_produit
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px;
        margin-top: 3px;
    }
    .bloc_nombre_de_produit > button
    {
        background-color: rgba(238, 29, 67, 0.3);
        width: 23px;
        height: 23px;
        border-radius: 5px;
        font-weight: bolder;
        font-size: 18px;
        color: #fff;
    }
    .bloc_nombre_de_produit > button:hover
    {
        cursor: pointer;
        background-color: #EE1D44;
    }
    .bloc_nombre_de_produit div
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px;
        min-height: 20px;
        min-width: 20px;
        color: #EE1D44;
        font-weight: 700;
        font-size: 18px;
    }
    .finaliser_commande, .retirer_produit
    {
        align-self: center;
        max-width: 200px;
        padding: 4px;
        border-radius: 5px;
        margin-top: 4%;
        font-weight: bold;
    }
    .finaliser_commande{background-color: rgba(255, 255, 0, 0.5);}
    .finaliser_commande:hover{background-color: #ffe600;}
    .retirer_produit
    {
        color: #EE1D44;
    }
    .retirer_produit:hover{background-color: #EE1D44; color: #fff;}
}