*{margin: 0px; padding: 0px;}
body
{
    margin: 0px;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 17px;
}
button
{
    background-color: #EE1D44;
    border: none;
    box-shadow: 4px 4px 0.3em rgba(238, 29, 67, 0.39);
    color: #fff;
    max-height: 30px;
    padding: 5px;
    margin-right: 20%;
    align-self: center;
    border-radius: 3px;
    font-size: 17px;
    font-weight: bold;
}
button:active
{
    box-shadow: -4px -4px 0.3em rgba(238, 29, 67, 0.39);
    background-color: rgb(221, 28, 63);
    font-size: 16px;
}
ul{list-style: none;}
#mon_panier
{
    width: 50%;
    background-color: #ffe600;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 30px auto;
    font-size: 15px;
    font-weight: bold;
}
#mon_panier a
{
    color: #000;
}
#mon_panier:active
{
    font-size: 14px;
}
footer
{
    background-color: #EE1D44;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}
#footer_start
{
    border-right: 2px solid rgb(255, 165, 165);
}
footer > div
{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}
footer > div div
{
    padding: 0px;
    margin: 9px;
}
footer > div div img
{
    vertical-align: middle;
    margin-right: 7px;
}
a
{
    color: #fff;
    text-decoration: none;
}
@media screen and (max-width: 600px) {
    header
    {
        background-color: #EE1D44;
        position: fixed;
        width: 100%;
    }
    #bare_header
    {
        height: 45px;
        padding: 0px 15px;
        display: flex;
        align-items: center;
    }
    #bare_header > div
    {
        width: 50%;
        display: flex;
    }
    #bare
    {
        justify-content: flex-end;
        align-items: center;
    }
    #jevlibrary
    {
        font-size: 20px;
        font-family: "Bauhaus 93";
    }
    #hamburger, #caddie
    {
        width: 25px;
        height: 25px;
    }
    #caddie:hover, #caddie ~ div:hover, #hamburger:hover{cursor: pointer;}
    #hamburger{background-color: #d3183a;border-radius: 5px;}
    #bare > div {display: flex;position: absolute;right: 40px;}
    #caddie ~ div
    {
        background-color: #fff;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: relative;
        right: 13px;
        bottom: 5px;
        display: flex;
        align-content: center;
        justify-content: center;
        color: #EE1D44;
        font-weight: bold;
        font-size: 15px;
    }
    #caddie ~ div:active
    {
        font-size: small;
        width: 21px;
        height: 21px;
    }
    #mon_panier_header
    {
        background-color: #ffe600;
        align-self: center;
        font-size: 10px;
        font-weight: bold;
        color: black;
        border-radius: 7px;
        padding: 3px;
    }
    #mon_panier_header:active{font-size: 9px;}
    #caddie:active
    {
        width: 35px;
        height: 35px;
    }
    #hamburger:active
    {
        background-color: #EE1D44;
        width: 33px;
        height: 33px;
    }
    nav{display: none;}
    nav ul li{padding: 10px;}
    nav ul li:hover
    {
        background-color: #d3183a;
    }
    section
    {
        background-color: #ffffff;
        margin: 0px;
        padding-top: 45px;
    }
    /*.numero_page
    {
        background-color: burlywood;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-radius: 50%;
        min-height: 20px;
        width: 20px;
        color: #EE1D44;
        font-weight: 700;
        font-size: 18px;
    }*/
    .section_container
    {
        display: flex;
        min-height: 183px;
        overflow: hidden;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    .image_container
    {
        background-color: #f8f8f8;
        width: 204px;
        min-height: 183px;
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
        display: flex;
        align-items: center;
    }
    .product_image
    {
        max-height: 163px;
        width: 100%;
    }
    .product_info
    {
        width: 100%;
        border: 1px solid #f8f8f8;
        padding-left: 3px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .div_du_bon
    {
        background-color: #20c96f1c;
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 14px;
        justify-content: space-evenly;
    }
    .div_du_bon > div
    {
        background-color: rgba(67, 187, 157, 0.3);
        border: 2px solid rgb(17, 158, 123);
        word-break: break-word;
        border-radius: 5px;
        max-width: 300px;
        align-self: center;
        margin: 0px 7px;
        padding: 5px;
        font-size: 13px;
    }
    .finaliser_commande{background-color: #ffe600;}
    .finaliser_commande:hover{background-color: rgba(255, 255, 0, 0.5);}
    .item_product_info
    {
        padding: 4px;
    }
    .product_title
    {
        padding-top: 20px;
        color: #0F1111;
    }
    .product_subtitle
    {
        font-size: 12px;
    }
    .price
    {
        padding-top: 25px;
        font-weight: bold;
    }
    .fcfa
    {
        font-size: 16px;
        font-weight: normal;
    }
    .button_order_container
    {
        height: 100%;
        align-self: stretch;
        display: flex;
        justify-content: flex-end;
    }
}