*, ::before, ::after{margin: 0px; padding: 0px; box-sizing: border-box;}
body
{
    margin: 0px;
    font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 17px;
    background-color: rgba(67, 187, 157, 0.3);
}
#body_blanc{background-color: #fff;}
a
{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
button
{
    background-color: #EE1D44;
    border: none;
    box-shadow: 4px 4px 0.3em rgba(238, 29, 67, 0.315);
    color: #fff;
    max-height: 30px;
    padding: 5px;
   
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
}
button:active
{
    box-shadow: -4px -4px 0.3em rgba(238, 29, 67, 0.39);
    background-color: #dd1c3f;
    font-size: 16px;
}
ul{list-style: none;}*
#zone_produits
{
    width: 100%;
    padding: 10px 0px;
    display: grid;
    font-size: 13px;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    gap: 3px;
}
.careElement
{
    background-color: #fff;
    display: grid;
    grid-template-columns: auto 23px;
    align-items: center;
    border-radius: 3px;
    padding: 10px 5px;
    margin: 0px 5px;
}
.checksvg
{
    width: 20px;
    height: 20px;
    margin-right: 3px;
    margin-left: auto;
    fill: #3c4043;
}
#mon_panier
{
    align-self: center;
    height: 46px;
    width: 137px;
    background-color: #ffe600;
    text-align: center;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 30px auto;
    font-size: 15px;
    font-weight: bold;
}
#mon_panier a {color: #000;}
#mon_panier:active
{
    font-size: 14px;
}
footer
{
    background-color: #EE1D44;
    color: rgb(255, 255, 255);
    font-size: 12px;
}
footer > div div img
{
    vertical-align: middle;
    margin-right: 7px;
}
#footer_start
{
    font-size: 15px;
    margin: 20px auto;
    margin-bottom: 0px;
    padding: 20px;
    line-height: 30px;
}
.footer_svg
{
    width: 16px;
    height: 16px;
    fill: currentColor;
}
#information
{
    text-align: right;
    padding: 15px 20px;
}

/*@media screen and (max-width: 600px) {*/
    header
    {
        background-color: #EE1D44;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 10;
    }
    #bare_header
    {
        height: 45px;
        padding: 0px 15px;
        display: flex;
        align-items: center;
    }
    #bare_header > div
    {
        width: 50%;
        display: flex;
    }
    #bare
    {
        justify-content: flex-end;
        align-items: center;
    }
    #jevlibrary
    {
        font-size: 20px;
        font-family: "Bauhaus 93";
    }
    #hamburger, #caddie
    {
        width: 25px;
        height: 25px;
    }
    #caddie:hover, #nombre_produits_commande:hover, #hamburger:hover{cursor: pointer;}
    #hamburger
    {
        background-color: #d3183a;
        border-radius: 5px;
    }
    #bare > div {
        padding-right: 7px;
        display: flex;
        position: relative;
    }
    #nombre_produits_commande
    {
        background-color: #fff;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        bottom: 15px;
        left: 70px;
        display: flex;
        align-content: center;
        justify-content: center;
        color: #EE1D44;
        font-weight: bold;
        font-size: 15px;
    }
    #nombre_produits_commande:active
    {
        font-size: small;
        width: 19px;
        height: 19px;
    }
    #mon_panier_header
    {
        background-color: #ffe600;
        align-self: center;
        font-size: 10px;
        font-weight: bold;
        color: black;
        border-radius: 7px;
        padding: 3px;
    }
    #mon_panier_header:active{font-size: 9px;}
    #caddie:active
    {
        width: 24px;
        height: 24px;
    }
    #hamburger:active
    {
        background-color: #EE1D44;
        width: 24px;
        height: 24px;
    }
    nav{display: none;}
    nav ul li{padding: 10px;}
    nav ul li:hover
    {
        background-color: #d3183a;
    }
    .titre_classe
    {
        margin: 15px center;
    }
    main{margin-top: 50px;min-height: 70vh;}
    .mainindex
    {
        margin: 0px auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(268px, auto));
        gap: 5px;
        justify-content: center;
    }
    #envoyer
    {
        max-width: 400px;
        text-align: center;
        height: min-content;
        align-self: center;
        font-size: 17px;
        margin: 15px auto;
        margin-top: 60px;
        padding: 10px;
        border-radius: 7px;
        background-color: #EE1D44;
        color: #fff;
        box-shadow: 0px 0px 0.4em rgb(190, 190, 190);
    }
    .section_container
    {
        background-color: #fff;
        display: flex;
        min-height: 183px;
        border-radius: 5px;
        border: 3px solid #f8f8f8;
        min-height: 189px;
    }
    .image_container, .image_container_panier
    {
        background-color: #f8f8f8;
        width: 200px;
        min-height: 183px;
        padding-left: 5px;
        padding-right: 5px;
        overflow: visible;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .product_image
    {
        max-height: 163px;
        width: 100%;
    }
    .bloc_nombre_de_produit
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0px auto;
        margin-bottom: 15px;
    }
    .product_info
    {
        width: 100%;
        padding-left: 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .div_du_bon
    {
        background-color: #20c96f1c;
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 14px;
        justify-content: space-evenly;
    }
    .div_du_bon > div
    {
        background-color: rgba(67, 187, 157, 0.3);
        border: 2px solid rgb(17, 158, 123);
        word-break: break-word;
        border-radius: 5px;
        max-width: 300px;
        align-self: center;
        margin: 0px 7px;
        padding: 5px;
        font-size: 13px;
    }
    #finaliser_commande{
        width: 100vw;
        position: fixed;
        bottom: 3px;
        display: flex;
        justify-content: center;
    }
    #finaliser_commande_button{
        background-color: #ffe600;
        color: #000;
        padding: 10px;
    }
    .item_product_info
    {
        padding: 4px;
    }
    .product_title
    {
        padding-top: 15px;
        color: #0F1111;
    }
    .product_subtitle
    {
        font-size: 12px;
    }
    .price
    {
        padding-top: 25px;
        font-weight: bold;
    }
    .fcfa
    {
        font-size: 16px;
        font-weight: normal;
    }
    .button_order_container
    {
        font-size: 5px;
        height: max-content;
        align-self: stretch;
        display: flex;
        justify-content: right;
    }
    .button_order
    {
        margin-bottom: 15px;
    }
    .invisible{display: none;}
    .bloc_nombre_de_produit > button
    {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: none;
        margin: 0px;
        padding: 0px;
        width: 23px;
        height: 23px;
        font-weight: bolder;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bloc_nombre_de_produit > button:active
    {
        background-color: #000;
    }
    .bloc_nombre_de_produit div
    {
        text-align: center;
        padding: 0px 15px;
        min-height: 20px;
        min-width: 20px;
        color: #000;
        font-weight: 700;
        font-size: 18px;
    }
    #formulaire{
        background-color: rgb(219, 175, 175);
        font-size: 15px;
        min-height: 100vh;
        min-width: 100vw;
        position: fixed;
        top: 0px;
        z-index: 11;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #bloc_formulaire{
        display: flex;
        flex-direction: column;
    }
    #fermer_form{
        width: min-content;
        border-radius: 5%;
        border: 1px solid #f1f1f1;
        padding: 10px;
        margin: 10px 0px;
    }
    form{
        padding: 20px;
        overflow: scroll;
        border-radius: 5px;
        box-shadow: 0 4px 10px 20 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
        background-color: #f1f1f1;
        line-height: 30px;
    }
    form > label, form > input{display: block;}
    .nom_langue{
        text-align: center;
        padding: 20px 0px;
        position: relative;
        top: 20px;
    }
    .niveau{
        margin: 7px;
        padding-top: 7px;
        margin-bottom: 42px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, auto));
        gap: 10px;
        align-items: center;
    }
    .titre_classe{
        color: #EE1D44;
        background-color:#ee1d4310;
        padding: 11px 0px;
        padding-left: 20px;
        margin: 70px 7px 15px 7px;
        font-weight: bold;
        border-left: 3px solid #ee1d43;
        border-radius: 30px;
    }
    .niveau a{
        background-color: #1d21ee10;
        border-radius: 5px;
        padding: 11px 0px;
        padding-left: 20px;
        font-weight: bold;
        font-size: 13px;
    }
    .niveau div {color: #2a2a2a;}
    .classe{
        display: grid;
        align-items: center;
        grid-template-columns: auto 25px;
    }